<!DOCTYPE html>
<html lang="en">
<head>
  <title>xTrade</title>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('modulo1.static', filename ='login.css') }}">

  <link rel="icon" href="data:;base64,iVBORwOKGO=" />
  

  <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />
  

</head>
<body style = "background-color:#F4F4F4">

<!-- HEADER -->


<nav class="navbar navbar-inverse" style="background-color:	#ffffff; border:none !important;">
  <div class="container-fluid">
    <div class="navbar-header">
      
      
      <a class="navbar-brand" style="color:rgb(0, 175, 251);opacity: 0.95;font-size: 12px;" href="#"> 
        <span style ="color: #808080; font-size: 22px; margin-left:30px;  "> xTrade | <sup style="font-weight: bold ;color: rgb(0, 175, 251);">Analytics</sup> </span>  </span> </a>
    
      <a class="navbar-brand icon" style="color:#808080;" href="javascript:void(0);" onclick="Menu_icon()"><i class="fa fa-bars"></i></a>

    </div>
  </div>
</nav>


<section>

  <div class = "menu_items" id = "container">

      <div id="first">
      
        <div  style="background-color: white;height:330px;">

          <ol class="nav nav-pills nav-stacked">

              <li id ="uname" style="font-size: 15px;background-color: 	#E0E0E0; font-weight: bold " > <a style="color:white; color: rgba(0, 0, 0, 0.8); opacity: 80%;" href="#"> {{session['username']}} </a></li>
              <li  {% if page == 'strategyview' %}class="activelink "{% endif %}>  <a style="color:white; color: rgba(0, 0, 0, 0.8); opacity: 80%;"href="{{ url_for('modulo1.strategyview') }}" >Strategy view</a></li>
              <li id="cart" {% if page == 'Arena' %}class="activelink "{% endif %}><a  style="color:white; color: rgba(0, 0, 0, 0.8); opacity: 80%;"href="{{ url_for('modulo1.Arena') }}">Arena </a></li>
              <li {% if page == 'Strategies1' %}class="activelink "{% endif %}><a style="color:white; color: rgba(0, 0, 0, 0.8); opacity: 80%;"href="{{ url_for('modulo1.Strategies1')}}">Strategies</a></li>
              <li {% if page == 'settings' %}class="activelink "{% endif %}><a style="color:white; color:rgba(0, 0, 0, 0.8); opacity: 80%;"href="{{ url_for('modulo1.settings') }}">Settings</a></li>
              <li {% if page == 'logout' %}class="activelink "{% endif %}> <a style="color:white; color: rgba(0, 0, 0, 0.8); opacity: 10%;" href="{{ url_for('modulo1.logout') }}">Logout</a></li>

          </ol>
          
        </div>

        <!-- <br> -->
        <div >
          <p style="width: 2px; background-color: #EFEFEF">  </p>
        </div>

        <div style="background-color: white;">

            <ol class="nav nav-pills nav-stacked">  
               
                <li style="font-size: 15px;background-color: 	#E0E0E0; font-weight: bold" > <a style="color: rgba(0, 0, 0, 0.8);" href="#">Strategies</a></li>
                <li id="saved_strategy0"> <a style="color: rgba(0, 0, 0, 0.8);" href="{{ url_for('modulo1.Strategies1') }}">     -       </a></li>
                <li id="saved_strategy1"> <a style="color: rgba(0, 0, 0, 0.8);"href="{{ url_for('modulo1.Strategies1') }}">     -       </a></li>
                <li id="saved_strategy2"> <a style="color: rgba(0, 0, 0, 0.8);"href="{{ url_for('modulo1.Strategies1') }}">     -       </a></li>
                <li id="saved_strategy3"> <a style="color: rgba(0, 0, 0, 0.8);" href="{{ url_for('modulo1.Strategies1') }}">     -        </a></li>
            </ol>
           

        </div><br>

        <div style="background-color: white;height:230px;">

            <ol class="nav nav-pills nav-stacked">
                <li style="font-size: 15px;background-color: 	#E0E0E0; font-weight: bold" > <a style="color: rgba(0, 0, 0, 0.8);" href="#">Quick Links</a></li>
                <li> <a style="color:white; color: rgba(0, 0, 0, 0.8); opacity: 10%;"href="{{ url_for('modulo1.strategyview') }}">New Strategy</a></li>
                <li> <a style="color:white; color: rgba(0, 0, 0, 0.8); opacity: 10%;" href="{{ url_for('modulo1.Strategies1') }}">Top Strategies</a></li>
            </ol>
           
        </div>

        </a>

      </div>

   <div id="second"> 
     
        {% block content %}
        {% endblock %} 

      </div>

  </div>

</section>

<!-- <div class="footer"> 
    <p class="text-h_f">Footer</p>
  </div> -->

  <script>
  
function Menu_icon() {

var x = document.getElementById("container");
if (x.className === "menu_items") {
    x.className += "responsive";

    console.log(x.className)
}else {
  x.className = "menu_items";
  }


}


// CART FUNCTIONALITY
main = JSON.parse(sessionStorage.getItem("ba"))    
if (main!== null){
    n = main.Strategies.length
    var elem = document.querySelectorAll('#cart');
    elem[0].children[0].innerHTML = 'Arena('+n+')';
}



  </script>
 
</body>

</html>
